<div class="row">
    <div class="col-11">
        <h1 class="display-4">Dependentes</h1>
    </div>
    <div class="col-1">
        <a href="/dependentes/cadastro_dependente" class="btn btn-primary" role="button">
            <span class="material-icons">add</span>
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Funcionário</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{id}}</td>
            <td>{{nome}}</td>
            <td>{{telefone}}</td>
            <td>{{NOME}}</td>
            <td>
                <div class="btn-toolbar mb-3" role="toolbar">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-success" onclick="editar({{id}})">
                            <span class="material-icons">edit</span>
                        </button>
                        <button type="button" class="btn btn-danger" onclick="excluir({{id}})">
                            <span class="material-icons">delete</span>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>

<script>
    function editar(id) {
        window.location.href = `/dependentes/${id}`;
    }
    async function excluir(id) {
        await fetch(`/dependentes/${id}`,
        { method:"delete", headers: { "Content-Type": "application/json"} });

        window.location.href= "dependentes"
    }
</script>